<h1>Analysis</h1>
<a href="http://jtblin.github.io/angular-chart.js/">Reference</a>
<hr>
<canvas id="radar" class="chart chart-radar" chart-data="data" chart-series="series" chart-labels="labels"></canvas> 
<hr>
<p>
	These statistics were taken from the Github API. On four fields of comparison: 
</p>
<ul>
	<li>Stargazers</li>
	<li>Watchers</li>
	<li>Forks, &</li>
	<li>Subscribers.</li>
</ul>
<p>
	NgInfiniteScroll seems to be the most popular and most supportive. Though I've found multiple blog posts online that claim it gets clunky when too many items are appending to the DOM with Angular's ng-repeat directive. While this may be true depending on the type of data repeated and the nature of the api call for said data, given the bugs of the alternative -- ngScroller -- this still seems to be the best bet. Also, given its popularity and support, this so-called issue may be addressed in the future. 
</p>