body {
	width:45%;
	margin: 2em auto;
	font: georgia, sans-serif;
}

h1 {
	font-family: georgia, sans-serif;
}

.main {
	font-size:0.75em;
}

.routes {
	display: inline;
	color:black;
	text-align: center;
}

.analysis {
	float: left !important;
}

.loading {
	text-align: center;
}

#legend {
	position: fixed;
}

.repeated_items {
	margin:1em auto;
}

ul li {
	list-style: none;
}

#legend ul li canvas {
	margin-bottom: -2px;
}

.has_tip:hover {
	color: red;
}

#title {
	text-align: center;
}

#appended_divs {
	position: fixed;
	top: 0;
	right: 58%;
}

.dropdown {
	border: 1px solid lightgray;
	background: white;
	color:black;
	width: 100%;
}

.dropdown.button::after {
	display: none !important;
}

.fa {
	margin-left:1.6em;
}

#dd li a:hover {
	background: lightgray;
}

.has-tip {
	border-bottom: none !important;
}

.performance {
	position: fixed;
	top: 0;
	right: 85%;
}







